extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Sobre Nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores inventore dolorum distinctio blanditiis! Nobis mollitia consequuntur, repellendus in eaque odio velit minima.

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti possimus quas a repellendus esse dolore consectetur blanditiis, quo sapiente voluptatem reiciendis facilis.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quos dolorem possimus expedita praesentium ipsum eaque hic cumque, corporis impedit assumenda numquam quasi odio inventore consequatur tenetur mollitia, quaerat animi.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eius ducimus cumque voluptates nihil recusandae eum sunt.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos  
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eius ducimus cumque voluptates nihil recusandae eum sunt.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios  
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eius ducimus cumque voluptates nihil recusandae eum sunt.    